@using CafeProject.MobileWebApplication.Models;
@model StatisticsEditorModel
@helper MeterFor(string title, int key, int value)
{
    <div>
        <div>
            <span>@title</span>
        </div>
        <div class="metr">
            <table id="group-@key" class="metr">
                <tbody>
                    <tr>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <td>
                                @if (value == i)
                                {
                                    <button class="fill">@i</button>
                                }
                                else
                                {
                                    <button onclick="setRating(this, @key, @i)">@i</button>
                                }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
<div>
    <div class="title">
        <span>Статистика</span>
    </div>
    @MeterFor("Еда", 1, Model.Cooking)
    @MeterFor("Интерьер", 2, Model.Interior)
    @MeterFor("Обслуживание", 3, Model.Service)
    @MeterFor("Цена", 4, Model.Price)
</div>