@using CafeProject.MobileWebApplication.Models
@model DetailsModel
@{
    ViewBag.Title = "Details";
}

@section Metadata {
}

@section Styles {
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/details.css")" />
}
@section Scripts {
    <script type="text/javascript">
        function hideStatistics() {
            var obj = $("li#statistics > div").fadeOut(300, function () { obj.empty(); $("a#statistics").show(300); });
            return false;
        }

        function statisticsClick() {
            var requestUrl = "@Url.Action("GetStatistics", new { id = Model.ObjectID })";
            $.ajax({
                type: "GET",
                url: requestUrl,
                dataType: "html",
                success: function (data) {
                    $("a#statistics").hide();
                    $("li#statistics > div").html(data).fadeIn(300);
                },
                error: function (xhr, type) {
                    // displayMessage("div#ajax-request-error");
                }
            });
            return false;
        }

        function voteClick() {
            var requestUrl = "@Url.Action("GetStatisticsEditor", new { id = Model.ObjectID })";
            $.ajax({
                type: "GET",
                url: requestUrl,
                dataType: "html",
                success: function (data) {
                    var obj = $("li#statistics > div");
                    obj.fadeOut(300, function () { obj.html(data); obj.fadeIn(300); });
                },
                error: function (xhr, type) {
                    // displayMessage("div#ajax-request-error");
                }
            });
            return false;
        }

        function setRating(obj, key, value) {
            if (!key || key < 1 || key > 4)
                return;
            if (!value || value < 1 || value > 10)
                return;

            var url = "@Url.Action("SetStatistics", new { id = Model.ObjectID })";
            var json = {
                key: key,
                value: value
            };

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(json),
                success: function (jsonObj) {
                    if (jsonObj && jsonObj.status == "success")
                    {
                        $("table#group-" + key + " button").removeClass("fill").prop("disabled", false);
                        $(obj).prop("disabled", true).addClass("fill");
                    }
                }
            });
        }

        $(document).ready(function () {
            $("a#statistics").click(statisticsClick);
        });
    </script>
}
@helper ProgressBar(string name, double position)
{
    int rightPosition = Convert.ToInt32(100.0 - position * 10);
    <div>@name</div>
    <div class="progress">
        <div class="count">@position.ToString("#.0")</div>
        <div class="right" style="width: @(rightPosition)%;"></div>
        <div class="clear"></div>
    </div>
}
        <div class="message shadow">
            </div>
            <div class="box shadow">
                <ul id="list" class="list">
                    <li>
                        <div class="logo">
                            <img src="@Url.Content("~/Content/Images/Avatars/" + Model.ObjectIcon)" />
                        </div>
                        <div class="description">
                            <div class="type">@Model.ObjectType</div>
                            <div class="caption">@Model.ObjectCaption</div>
                        </div>
                        <div class="clear"></div>
                        <div class="options">
                            @foreach (var address in Model.ObjectAddresses)
                            {
                                <div class="option">
                                    <img src="@Url.Content("~/Content/Images/Options/home.png")" />
                                    <span>@address</span>
                                </div>
                            }
                            <div class="option">
                                <img src="@Url.Content("~/Content/Images/Options/phone.png")" />
                                <span>+7 @Model.ObjectPhoneNumber</span>
                            </div>
                            <hr />
                            @foreach (var option in Model.ObjectOptions)
                            {
                                <div class="option">
                                    <img src="@Url.Content("~/Content/Images/Options/" + option.Icon)" />
                                    <span>@option.Title</span>
                                </div>
                            }
                        </div>
                    </li>
                    <li class="page" id="comments">
                        <a class="button green">Отзывы</a>
                    </li>
                    <li id="statistics" class="page">
                        <a id="statistics" class="button blue">Статистика</a>
                        <div></div>
                    </li>
                    @*<li class="page" id="comments">
                        <div>
                            <div class="title">
                                <span>Отзывы</span>
                            </div>
                            <a class="button green">Отзывы</a>
                        </div>
                    </li>*@
                </ul>
            </div>